
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <h1>Index</h1>
</head>
<body>
    <div> 
        <a href="/Names/Peter">Peter</a>
        <a href="/Names/Smith">Smith</a>
    </div>
</body>
</html>
