
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="ProcessData" method="post">
    <input type="text" name="no1" value="" />
    <input type="text" name="no2" value="" />
    <input type="submit" />
</form>

