@model MVCPCLSystem.Models.Info
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Record</title>
</head>
<body>
    <h1>Add New Account Holer</h1>
    <div>
        <form action="/EditRecord" method="post">
            Name: <input type="text" name="name" value="@Model.name" required/><br />
            Address: <input type="text" name="address" value="@Model.address" required/><br />
            Phone Number: <input type="tel" name="phoneNo" value="@Model.phoneNo" required/><br />
            <input type="hidden" name="PID" value="@Model.PID" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
