@using System.Data.SqlClient;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentDetails</title>
</head>
<body>
    <div> 
        @{
            SqlConnection con = new SqlConnection();
            con.ConnectionString = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\Admin\\Documents\\AWCSharpProjects\\MVCPCLSystem\\MVCPCLSystem\\App_Data\\PCLDatabase.mdf;Integrated Security=True";
            con.Open();
            SqlCommand cmd = con.CreateCommand();
            cmd.CommandText = $"select * from PaymentDetails where PID = {ViewData["PID"]}";
            SqlDataReader data = cmd.ExecuteReader();
            Response.Write("<table border='2'><tr><th>Serial No.</th><th>Amount</th><th>Data</th></tr>");
            int i = 1;
            while (data.Read())
            {

                Response.Write($"<tr><td>{i}</td><td>{data["Amount"]}</td><td>{data["Date"]}</td></tr>");
                i++;
            }
            Response.Write("</table>");
            data.Close();
        }
    </div>
    <div>
        <a href="/AddPayment/@ViewData["PID"]">Add New Payment</a> <br />
        <a href="/">Home</a>
    </div>
</body>
</html>
