
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="LogIn" method="post">
    Username: <input type="text" name="username" value="" />
    PassWord: <input type="password" name="pass" value="" />
    <input type="submit"/>
</form>
