
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <div> 
        <h1>Incorrect Username or Passowrd</h1>
        <h3>Login</h3>
        <input type="button" onclick="Home/Index" value="Sign In" />
        <a href="Home/Index">Login</a>
        <h3>Sign Up</h3>
        <input type="button" onclick="Home/CreateAccount" value="Sign Up/Create Account" />
        <a href="Home/CreateAccount">Sign Up/CreateAccount</a>
    </div>
</body>
</html>
