
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/ABC" method="post">
    Name: <input type="text" name="name" value="" /><br />
    Address: <input type="text" name="address" value="" /> <br />
    Marks: <input type="number" name="marks" value="" /> <br />
    <input type="submit" />
</form>